:root {
  --step-editor-content-height: calc(100% - 50px);
  --step-editor-height: calc(100vh - 170px);
  --step-editor-select-top-indent: 12px;
  --step-editor-padding-left: 12px;
  --step-editor-min-width: 584px;
}

.StepEditor {
  position: absolute;

  z-index: 1;
  top: 16px;
  right: 16px;

  min-width: var(--step-editor-min-width);
  height: var(--step-editor-height);

  &__Tabs {
    position: relative;

    margin-bottom: 2px;
    padding-left: var(--step-editor-padding-left);

    height: 35px;

    background-color: var(--color-bg-default);

    & > .Tabs {
      position: absolute;

      top: 2px;
    }

    .VegaTabs__InnerContent {
      margin: 0;
    }
  }

  &__SelectContainer {
    margin-bottom: calc(var(--step-editor-select-top-indent) + 2px);

    display: flex;
  }

  &__RemoveBtn {
    justify-content: center;
    align-self: center;

    width: 10%;

    cursor: pointer;

    &:hover {
      color: var(--color-type-primary);
    }
  }

  &__Content {
    padding-top: calc(var(--step-editor-select-top-indent) + 2px);
    padding-left: var(--step-editor-padding-left);

    width: 100%;
    height: var(--step-editor-content-height);

    background-color: var(--color-bg-default);
  }

  &__CloseBtn {
    position: absolute;
    top: 12px;
    right: 12px;

    cursor: pointer;
  }

  &__ChanceSelect {
    width: 100%;
  }

  &__SectionLabel {
    margin: 0 0 12px;

    font-size: 16px;
    line-height: 150%;

    color: var(--color-type-primary);
  }

  &__SelectLabel {
    margin: 0 0 8px;

    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 120%;

    color: var(--color-typo-secondary);
  }

  &__TimeFrames {
    margin-top: var(--step-editor-select-top-indent);

    width: 100%;
  }

  &__ExtremePoints {
    display: flex;

    width: 100%;

    & > div {
      width: 50%;
    }

    & > div:first-of-type {
      margin-right: 12px;
    }
  }

  &__DatePointSelect {
    width: 100%;
  }

  &__Continuous {
    margin-top: var(--step-editor-select-top-indent);
  }

  &__ContinuousSelect {
    width: calc(50% - 6px);
  }

  &__Parameters {
    margin-top: calc(var(--step-editor-select-top-indent) * 2);
  }

  &__ParametersSelect {
    width: calc(50% - 6px);
  }
}
