:root {
  --tooltip-z-index: 99;
}

* {
  box-sizing: border-box;
}

.LC__App-Wrapper {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  flex-grow: 1;
}

.LC__App {
  position: absolute;

  overflow: hidden;

  width: 100%;
  height: 100%;

  color: var(--color-typo-primary);
  background-color: var(--color-bg-default);
}

.Tooltip {
  z-index: var(--tooltip-z-index);
}

.SelectDropdown {
  z-index: 1;
}
