:root {
  --activities-min-width: 316px;
  --activities-height: calc(100vh - 116px);
}

.ActivitiesWidget {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;

  width: var(--activities-min-width);
  min-width: 316px;
  height: var(--activities-height);

  background-color: var(--color-bg-default);
  border-radius: 4px;

  .VegaTree {
    overflow-y: auto;

    max-height: 90%;
  }

  .VegaTree__ItemName {
    width: 100%;
  }

  &__Head {
    padding: 8px;
  }

  &__Title {
    margin: 0 0 8px;

    font-size: 16px;
    font-style: normal;
    line-height: 150%;
  }

  &__Search {
    width: 100%;

    & > div {
      padding-right: 0;
    }
  }
}
