.LC_Notifications {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 0;

  width: 400px;

  transform: translate(-50%, 0);

  &__SnackBar {
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);

    overflow: auto;

    width: 400px;
  }
}
