.LC_InProgress {
  position: absolute;

  z-index: 2;
  right: var(--space-xs);
  bottom: var(--space-xs);
  width: 400px;

  &__SnackBar {
    overflow: auto;
    width: 400px;
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
  }
}
